%div{:id => id, :class => "#{as}#{' required' if required} field#{' field-error' unless msgs.blank?}"}
  = builder.label method, humanized_attribute_name, label_html
  = case as
    - when :string then builder.text_field input_name, input_html
    - when :password then builder.password_field input_name, input_html
    - when :numeric then builder.text_field input_name, input_html
    - when :text then builder.text_area input_name, input_html
    - when :file then builder.file_field input_name, input_html
    - when :time then builder.time_select input_name, input_options, input_html
    - when :date then builder.date_select input_name, input_options, input_html
    - when :datetime then builder.datetime_select input_name, input_options, input_html
    - when :select then builder.select input_name, collection, input_options, multiple ? input_html.reverse_merge(:multiple => true, :size => 5) : input_html
    - when :time_zone then builder.time_zone_select input_name, priority_zones, input_options, input_html
  - if required
    %span.required-icon.tooltip Required
  - unless msgs.blank?
    %span.error-hint= msgs.first

